.suggestionsWrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  .suggestions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }
}
