.profileWrapper {
  padding: 20px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: max-content;
  }

  .userNavContainer {
    width: 10%;
    position: sticky;
    top: 100px;
    left: 200px;
    height: max-content;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    nav {
      display: flex;
      flex-direction: column;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          justify-content: center;
          margin: 10px 0;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.1s ease-in-out;
          letter-spacing: 1px;
          font-size: 1.2rem;

          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .renderedCompContainer {
    width: 100%;
    max-width: 1000px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .renderedComp {
      padding: 20px;
    }
  }
}
