.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  pointer-events: none;

  &.modal-open {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: all;
  }

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  &.modal-open .modal {
    opacity: 1;
    pointer-events: all;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  .content {
    margin-top: 20px;
    text-align: center;
  }
}
