.navbar {
  height: 90px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: x-large;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;

  .wrapper {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (max-width: 768px) {
      padding: 0;
    }

    .item {
      border-bottom: transparent 3px solid;
    }

    .item:hover {
      border-bottom: #ffaa00 3px solid;
    }

    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 25px;
      color: black;
      font-size: 22px;
    }

    .hamburger {
      display: none;
      cursor: pointer;
      z-index: 8;
    }

    .center {
      font-size: 40px;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      gap: 0px;
      font-weight: 500;

      flex-direction: column;
      span {
        color: #0042dc;
        font-size: 15px;
        font-weight: 600;

        @media (max-width: 1000px) {
          display: none;
        }
      }
    }

    .right .icons {
      display: flex;
      gap: 15px;
      cursor: pointer;
      align-items: center;

      #fav {
        color: #000000;
        margin-top: 4px;
      }
      .cartIcon {
        position: relative;
        span {
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #2879fe;
          color: aliceblue;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .mobileRightMenu,
    .mobileRightSearch,
    .mobileLeftCart {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .wrapper .left .item,
    .wrapper .right .item,
    .wrapper .right .icons {
      display: none;
    }

    .wrapper .hamburger {
      position: absolute;
      left: -20px;
      top: 15px;
      display: flex;
      scale: 0.4;
    }
    .wrapper .mobileRightMenu {
      position: absolute;
      right: 0px;
      top: 30px;
      display: flex;
      scale: 1.2;
    }
    .wrapper .mobileRightSearch {
      padding: 5px;
      position: absolute;
      top: 80px;
      right: 10px;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
    }

    .wrapper .mobileLeftCart {
      padding: 5px;
      position: absolute;
      top: 90px;
      display: flex;
      cursor: pointer;

      .cartIcon {
        position: relative;
        span {
          font-size: 15px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #1a71fc;
          color: aliceblue;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 7;
  transition: transform 0.2s ease-in-out;
  transform: translateX(-100%);

  .item {
    .navBtn {
      background: none;
      border: none;
      color: black;
      font-size: 22px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;

      &:hover {
        color: #ffaa00;
      }
    }
  }
}
.mobileMenu.open {
  transform: translateX(0);
}

