.orderContainer {
  display: flex;
  flex-direction: column;

  gap: 20px;
  width: 100%;
  min-width: 800px;

  @media (max-width: 768px) {
    align-items: center;
    min-width: 100%;
  }

  .oder {
    width: 100%;
    border: 2px solid #ddd;
    background: #ffff;
    border-radius: 10px;
    padding: 10px;

    .oderTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;
      background-color: #fff;
      padding: 10px;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
      }

      h1 {
        font-size: 1.5rem;
        font-weight: 400;
      }
      .oderTopRight {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        div:first-child {
          border-right: 1px solid #ddd;
          padding-right: 10px;

          @media (max-width: 768px) {
            border-right: none;
            padding-right: 0px;
          }

          p {
            text-align: right;

            .copyBTN {
              cursor: pointer;
              transition: all 0.2s ease-in-out;
              color: rgb(0, 21, 255);
              font-size: 1.1rem;
              &:hover {
                color: #f67300;
              }
            }
          }
        }
        div:last-child {
          a {
            text-decoration: none;
            color: #111;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 1px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
              color: #f67300;
            }
          }
        }
      }
    }

    .oderBot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      gap: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
      }

      .imgContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        overflow-x: auto;
        padding: 10px;

        @media (max-width: 768px) {
          // flex-direction: column;
        }

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
          background: #e0e0e0;
        }

        &::-webkit-scrollbar-thumb {
          background: #747474;
          border-radius: 4px;
        }

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
        }
      }

      .orderBotRight {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        width: 200px;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        h2 {
          font-size: 1.2rem;
          font-weight: 400;
          text-align: center;
        }

        .addToCartBTN {
          width: 100%;
          height: 35px;
          border: none;
          border-radius: 50px;
          background: linear-gradient(
            to right,
            rgb(255, 50, 0),
            rgb(255, 93, 11)
          );
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-size: 1.1rem;
          font-weight: 600;
          letter-spacing: 1px;
          color: #ffffff;
          &:hover {
            background: linear-gradient(
              to right,
              rgb(255, 143, 114),
              rgb(255, 93, 11)
            );
          }
        }

        .deleteBTN {
          width: 100%;
          height: 35px;
          border: none;
          border-radius: 50px;
          background-color: white;
          outline: 1px solid #000000;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1px;
          color: #111;
          &:hover {
            color: rgb(255, 93, 11);
            outline: 1px solid rgb(255, 93, 11);
          }
        }
      }
    }
  }
}
