.footer {
  background-color: #f5f5f5;
  color: #444;
  width: 100%;

  .top {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 65%;
    margin: 0 auto;
    .group {
      padding: 0 15px;
      h1 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .items {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          color: #444;
          font-size: 20px;
          display: block;
          margin-bottom: 5px;
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .bottom {
    .bottomGroup {
      padding: 40px 50px;
      border-top: 2px solid #ddd;

      .wrapper {
        width: 65%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 20px;
          align-items: center;
        }
      }

      h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      img {
        height: 100px;
        object-fit: contain;
      }

      @media (max-width: 768px) {
        img {
          height: 80px;
          object-fit: contain;
        }
      }

      .icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        font-size: 30px;
        cursor: pointer;
        a {
          color: #444;
        }
      }
    }

    .trademark {
      text-align: center;
      background: #000;
      width: 100%;
      padding: 50px 0;

      span {
        font-size: 15px;
        letter-spacing: 2px;
        color: white;
      }
    }
  }

  @media (max-width: 768px) {
    .top {
      display: none;
    }
  }
}
