.product-skeleton-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
  .product-skeleton {
    width: 280px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .skeleton-image {
      height: 400px;
      background-color: #e4e4e4;
    }

    .cardInformation {
      padding: 16px;
      display: flex;
      flex-direction: column;

      .skeleton-text {
        height: 20px;
        border-radius: 4px;
        background-color: #eaeaea;
        &.skeleton-title {
          width: 80%;
          margin-top: 16px;
          margin-bottom: 8px;
        }
        &.skeleton-price {
          width: 60%;
        }
      }
    }

    @keyframes loading {
      0% {
        background-position: -100% 0;
      }
      100% {
        background-position: 100% 0;
      }
    }

    .skeleton-image,
    .skeleton-text {
      background-image: linear-gradient(
        to right,
        // Direction of the gradient
        #e0e0e0 8%,
        #f0f0f0 18%,
        #e0e0e0 33%
      );
      background-size: 200% 100%;
      animation: loading 1.2s infinite reverse;
    }
  }
}
