.large-image-skeleton {
  .skeleton-large-image {
    height: 300px; // Fixed height of 300px
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
        to right,
        #f0f0f0 8%,
        #e0e0e0 18%,
        #f0f0f0 33%
      );
      background-size: 200% 100%;
      animation: loading 1.2s infinite linear;
    }
  }
}

@keyframes loading {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
